@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Purple: hsl(259, 100%, 65%);
$LightRed: hsl(0, 100%, 67%);
$White: hsl(0, 0%, 100%);
$OfWhite: hsl(0, 0%, 94%);
$LightGrey: hsl(0, 0%, 86%);
$SmokeyGrey: hsl(0, 1%, 44%);
$OffBlack: hsl(0, 0%, 8%);
$FontSizeIput: 32px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width:500px) {
  .app {
    transition: all ease 0.3s;
    padding: 10px !important;
  }

  .line {
    transition: all ease-in-out 0.3s !important;
    margin: 1rem 0;

    button {
      padding: 10px !important;
      order: 0.5;
    }

    .span2 {
      order: 1;
    }
  }

  .container-fluid {
    width: 310px !important;
  }

  .box {
    span {
      font-size: 55px !important;

    }

    h1 {
      font-size: 55px !important;
    }
  }

  .form {
    width: 100%;
  }

  .today {
    padding: 0 !important;

    label {
      font-size: 14px !important;
    }

    input {
      width: 100px !important;
      font-size: 20px !important;

    }

    span {
      font-size: 10px !important;
    }
  }

}

@media only screen and (min-width:500px) and (max-width:800px) {
  .app {
    transition: all ease 0.3s;
    padding: 10px !important;
  }

  .line {
    transition: all ease-in-out 0.3s !important;
    margin: 1.2rem 0;

    button {
      padding: 15px !important;
      order: 0.5;
    }

    .span2 {
      order: 1;
    }
  }

  .container-fluid {
    width: 400px !important;
  }

  .box {
    span {
      font-size: 65px !important;

    }

    h1 {
      font-size: 65px !important;
    }
  }

  .form {
    width: 100%;
  }

  .today {
    padding: 0 !important;

    input {
      font-size: 28px !important;
    }
  }

}


  body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $OfWhite;
    height: 100vh;
  }


  .app {
    background-color: $White;
    width: 100%;
    max-height: 630px;
    padding: 25px;
    border-radius: 25px 25px 25% 25px;


    .container-fluid {
      margin: 15px 10px;
      width: 680px;
      height: 530px;
      display: flex;

      flex-direction: column;

      // .header {

      .form {
        display: flex;

        // width: 80%;

        .today {
          padding: 5px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-right: 5px;

          label {
            font-size: 17px;
            font-weight: bold;
            color: $SmokeyGrey;
          }

          input {
            font-size: $FontSizeIput;
            border: 0.5px solid $LightGrey;
            border-radius: 10px;
            padding: 14px 10px;
            width: 135px;
            font-weight: bold;

            &::placeholder {
              font-weight: bold;
              color: $SmokeyGrey;
            }

            &::-webkit-inner-spin-button,
            ::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &:focus {
              outline: none;
              border: 1px solid $Purple;
            }
          }

          span {
            font-size: 13px;
            margin-top: 2px;
            color: $LightRed;

          }

        }
      }

      // }

      .line {
        display: flex;
        align-items: center;


        span {
          width: 80%;
          border-bottom: 1px solid $LightGrey;
        }

        button {
          order: 1;
          border: none;
          background-color: $Purple;
          border-radius: 50%;
          padding: 20px;

          &:hover {
            background-color: $OffBlack;
          }
        }


      }

      .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .box {
          display: flex;
          align-items: center;
          gap: 5px;
          align-content: center;
          width: 100%;

          h1 {
            font-weight: bold;
            font-size: 80px;
            color: $Purple;
          }

          span {
            font-weight: bold;
            font-size: 80px;
            padding: 0 10px;
          }
        }
      }
    }
  }

